.wind__wrapper {
    height: 35px;
    width: 35px;
    margin-bottom: 10px;
}
.wind__svg {
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
}